.header {
  &-top {
    padding: 31px;
    display: flex;
    flex-direction: row;
  }
  &-logo {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 100vh;
  }
  &-menu {
    display: flex;
    list-style: none;
    color: var(--menu-color);
    li {
      margin-right: 22px;
      cursor: pointer;
      transition: .5s;
      &:hover {
        color: var(--menu-active);
      }
    }
  }
  &-btn {
    margin-left: 20px;
    align-self: center;
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 74px;
  }
  &-title {
    font-size: 48px;
    text-align: center;
    color: var(--main-color);
    font-weight: 400;
    margin: 0;
    padding: 0 100px;
    line-height: 64px;
  }
  &-group_btn {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-size: 18px;
  }
  &-banner {
    margin-top: 88px;
  }
  &-truck {
    margin-top: 36px;
  }
}

.logo-img {
  width: 29px;
  height: 44px;
  margin-right: 8px;
}

.logo-text {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--main-color);
}
