<section class="about">
  <div class="container">
    <h2 class="title about-title">Что такое СтройКонтроль?</h2>
    <span class="construction-descr about-descr">СтройКонтроль - это интеллектуальная система
      управления доставкой, предоставляющая информацию и контроль материалов на
      сложных строительных площадках в режиме реального времени.
    </span>

    <div class="about-container">
      <div class="about-item">
        <div class="about-item_left">
          <h3 class="benefits-title about-item_title">Отслеживайте доставку по всей цепочке поставок</h3>
          <span class="benefits-descr about-item_descr">От поставщика до субподрядчика - вы всегда знаете, где находятся ваши материалы,
          благодаря чему обычные отходы уходят в прошлое и сокращаются несчастные случаи на месте.</span>
        </div>
        <div class="about-item_right">
          <img src="img/svg/delivery-img.svg" alt="delivery img">
        </div>
      </div>

      <div class="about-item">
        <div class="about-item_left">
          <img src="img/svg/time-img.svg" alt="control img">
        </div>
        <div class="about-item_right about-item_text">
          <h3 class="benefits-title about-item_title">Оптимизируйте и контролируйте свое прибытие на место</h3>
          <span class="benefits-descr about-item_descr">Транспортные средства доставки прибывают в фиксированные промежутки времени
            в заранее назначенные отсеки, где разгрузочное оборудование готово и ждет их.</span>
        </div>
      </div>

      <div class="about-item">
        <div class="about-item_left">
          <h3 class="benefits-title about-item_title">Возьмите под контроль данные в режиме реального времени</h3>
          <span class="benefits-descr about-item_descr">Интеллектуальная отчетность дает вам возможность принимать решения в
            зависимости от того, как обстоят дела в данный момент. Больше никаких ручных отчетов по заливке бетона или ежемесячной проверки
            10.000 накладных со счетами, все это доступно онлайн без каких-либо усилий.</span>
        </div>
        <div class="about-item_right">
          <img src="img/svg/control-img.svg" alt="control img">
        </div>
      </div>
    </div>
  </div>
</section>
