<section class="creator">
  <div class="creator-container container">
    <div class="creator-left">
      <h3 class="creator-title">Создан для строительства</h3>
      <div class="creator-list">
        <div class="creator-left_item">
          <div class="creator-left_circle"></div>
          <div class="creator-left_descr">
            <h3 class="creator-item_title">Хорошо виден в любых условиях</h3>
            <span class="creator-item_descr">Независимо от того, солнечно или
              темно, найдется подходящий режим экрана</span>
          </div>
        </div>

        <div class="creator-left_item">
          <div class="creator-left_circle"></div>
          <div class="creator-left_descr">
            <h3 class="creator-item_title">Поддержка международных языков</h3>
            <span class="creator-item_descr">На современной стройке работают люди
              со всего мира. Язык не является проблемой для СтройКонтроля.</span>
          </div>
        </div>

        <div class="creator-left_item">
          <div class="creator-left_circle"></div>
          <div class="creator-left_descr">
            <h3 class="creator-item_title">Работает на любом устройстве - мобильном телефоне, планшете, ноутбуке</h3>
            <span class="creator-item_descr">Люди на разных должностях используют разные устройства. СтройКонтроль автоматически
              настраивается в соответствии с требованиями. Вы также можете проецировать панели мониторинга живого
              проекта на настенные экраны.</span>
          </div>
        </div>
      </div>

      <div class="header-group_btn creator-btn">
        <div class="btn btn-more creator-btn_more">Заказать демо</div>
        <div class="btn btn-demo">Подробнее</div>
      </div>
    </div>
    <div class="creator-right">
      <img src="img/aplication-img.png" alt="aplication image">
    </div>
  </div>

  <div class="creator-bottom_container container">
    <div class="creator-item">
      <div class="creator-item_icon">
        <img src="img/svg/hat.png" alt="icon">
      </div>

      <h3 class="benefits-title creator-item_title">Привлечение субподрядчика</h3>
      <span class="benefits-descr creator-item_descr">Для выполнения этой работы вам
        понадобятся ваши субподрядчики. У нас есть проверенный и надежный процесс для этого.
      </span>
    </div>

    <div class="creator-item">
      <div class="creator-item_icon">
        <img src="img/svg/Key-suppliers.png" alt="icon">
      </div>

      <h3 class="benefits-title creator-item_title">Привлечены ключевые поставщики</h3>
      <span class="benefits-descr creator-item_descr">У нас уже есть ключевые поставщики, использующие
        программное обеспечение, что обеспечивает еще больший контроль и прозрачность информации.
      </span>
    </div>

    <div class="creator-item">
      <div class="creator-item_icon">
        <img src="img/svg/Compliance.png" alt="icon">
      </div>

      <h3 class="benefits-title creator-item_title">100% соответствие</h3>
      <span class="benefits-descr creator-item_descr">У нас есть безупречный список обеспечения
        соответствия требованиям, которые необходимы вам для успешного выполнения проекта с помощью СтройКонтроль.
      </span>
    </div>
  </div>
</section>
