<section class="choice">
  <div class="container">
    <h2 class="title choice-title">Почему нужно выбрать нас?</h2>
    <span class="construction-descr choice-descr">В строительной логистике всегда есть
      возможности для улучшения.
    </span>

    <div class="choice-container">
      <div class="choice-left">
        <div class="choice-item">
          <div class="choice-item_left">
            <img src="img/svg/price-icon.svg" alt="price">
          </div>
          <div class="choice-item_right">
            <h3 class="benefits-title choice-item_title">Отмеченное наградами ПО</h3>
            <span class="benefits-descr choice-item_descr">Всемирно известное программное обеспечение,
              признанное государственными учреждениями, инновационными группами и техническими организациями
            </span>
          </div>
        </div>

        <div class="choice-item">
          <div class="choice-item_left">
            <img src="img/svg/check-icon.svg" alt="price">
          </div>
          <div class="choice-item_right">
            <h3 class="benefits-title choice-item_title">Большой потенциал</h3>
            <span class="benefits-descr choice-item_descr">Входит в топ-25 самых многообещающих стартапов ConTech
              по версии Cemex Ventures, Moscow Consulting Group, BuiltWorld и PwC
            </span>
          </div>
        </div>

        <div class="choice-item">
          <div class="choice-item_left">
            <img src="img/svg/brain-icon.svg" alt="price">
          </div>
          <div class="choice-item_right">
            <h3 class="benefits-title choice-item_title">Выбор лидеров рынка</h3>
            <span class="benefits-descr choice-item_descr">Рекомендуемый поставщик технологий для 3 из 10 ведущих
              генеральных подрядчиков в Европе
            </span>
          </div>
        </div>

        <div class="choice-item">
          <div class="choice-item_left">
            <img src="img/svg/care-icon.svg" alt="price">
          </div>
          <div class="choice-item_right">
            <h3 class="benefits-title choice-item_title">Устойчивое развитие и безопасность</h3>
            <span class="benefits-descr choice-item_descr">Способствует снижению выбросов CO2 и повышает безопасность на месте
            </span>
          </div>
        </div>
      </div>

      <div class="choice-right">
        <div class="choice-right_cover">
          <span class="choice-cite">
            Мы видим огромный потенциал в таких решениях, как СтройКонтроль, и хотим использовать
            их для улучшения наших строительных процессов.
          </span>
          <div class="choice-author">
            <div class="author-avatar">
              <img src="img/avatar.png" alt="avatar">
            </div>
            <div class="author-info">
              <span class="author-info_name">Волков Матвей</span>
              <span class="author-info_position">Генеральный директор ООО “СпецСтрой”</span>
            </div>
          </div>
          <div class="choice-right_bottom">
            <div class="choice-dots"></div>
            <div class="choice-dots choice-dots_disable"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="choice-awards">
      <div class="awards-item">
        <div class="awards-item_icon">
          <img src="img/svg/contech-aw.svg" alt="contech awards ico">
        </div>
        <span class="awards-item_descr">
          50 лучших инструментов ConTech
        </span>
      </div>

      <div class="awards-item">
        <div class="awards-item_icon">
          <img src="img/svg/contech-aw2.svg" alt="contech awards ico">
        </div>
        <span class="awards-item_descr">
          25 лучших стартапов ConTech в ЕС
        </span>
      </div>

      <div class="awards-item">
        <div class="awards-item_icon">
          <img src="img/svg/global-contech-aw.svg" alt="contech awards ico">
        </div>
        <span class="awards-item_descr">
          50 лучших стартапов Global ConTech
        </span>
      </div>

      <div class="awards-item">
        <div class="awards-item_icon">
          <img src="img/svg/proptech-aw.svg" alt="contech awards ico">
        </div>
        <span class="awards-item_descr">
          2018 - 50 лучших стартапов ЕС PropTech
        </span>
      </div>
    </div>
  </div>
</section>
