<section class="delivery">
  <div class="container">
    <h2 class="title delivery-title">Доставка стала проще</h2>
    <span class="construction-descr delivery-descr">Мы позаботимся обо всех ваших
      различных поставках и их многочисленных специализированных требованиях к разгрузке.
    </span>

    <div class="delivery-container">
      <div class="delivery-item">
        <div class="delivery-item_left">
          <img src="img/svg/concrete-icon.svg" alt="concrete">
        </div>
        <div class="delivery-item_right">
          <h3 class="benefits-title delivery-item_title">Бетон</h3>
          <span class="benefits-descr delivery-item_descr">Поставки бетона точно планируются,
            а его состояние контролируется, что обеспечивает максимально возможное время для установки.</span>
        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item_left">
          <img src="img/svg/Waste-icon.svg" alt="waste">
        </div>
        <div class="delivery-item_right">
          <h3 class="benefits-title delivery-item_title">Утилизация отходов</h3>
          <span class="benefits-descr delivery-item_descr">Отходы контролируются и сортируются, а
            заполненность контейнеров отслеживается в цифровом виде.</span>
        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item_left">
          <img src="img/svg/Formwork-icon.svg" alt="Formwork-icon">
        </div>
        <div class="delivery-item_right">
          <h3 class="benefits-title delivery-item_title">Опалубка</h3>
          <span class="benefits-descr delivery-item_descr">Вся опалубка отслеживается от
            прибытия до отправления, а ее состояние контролируется, что сводит к минимуму потери и повреждения.</span>
        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item_left">
          <img src="img/svg/panel-icon.svg" alt="panel-icon">
        </div>
        <div class="delivery-item_right">
          <h3 class="benefits-title delivery-item_title">Сборные панели</h3>
          <span class="benefits-descr delivery-item_descr">Сборные панели прибывают по очереди, их хранение
            на месте отслеживается, а их установка планируется и контролируется.</span>
        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item_left">
          <img src="img/svg/Facades-icon.svg" alt="facades">
        </div>
        <div class="delivery-item_right">
          <h3 class="benefits-title delivery-item_title">Фасады</h3>
          <span class="benefits-descr delivery-item_descr">Элементы фасада поступают последовательно,
            их сборка контролируется, а перемещение отслеживается.</span>
        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item_left">
          <img src="img/svg/Fit-out-icon.svg" alt="Fit-out-icon">
        </div>
        <div class="delivery-item_right">
          <h3 class="benefits-title delivery-item_title">Отделка</h3>
          <span class="benefits-descr delivery-item_descr">Материалы поступают точно в срок,
            маркируются и детально отслеживаются для установки</span>
        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item_left">
          <img src="img/svg/Scaffolding-icon.svg" alt="scaffolding icon">
        </div>
        <div class="delivery-item_right">
          <h3 class="benefits-title delivery-item_title">Строительные леса</h3>
          <span class="benefits-descr delivery-item_descr">Строительные леса отслеживаются
            от получения до хранения, использования и возврата, поэтому всегда ясно, что на месте и где.</span>
        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item_left">
          <img src="img/svg/Formwork-icon.svg" alt="Formwork-icon">
        </div>
        <div class="delivery-item_right">
          <h3 class="benefits-title delivery-item_title">Оборудование</h3>
          <span class="benefits-descr delivery-item_descr">Оборудование и операторы гарантированно
            доступны в случае необходимости, а их рабочее состояние отслеживается.</span>
        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item_left">
          <img src="img/svg/MEP-icon.svg" alt="MEP-icon">
        </div>
        <div class="delivery-item_right">
          <h3 class="benefits-title delivery-item_title">Электрика и сантехника</h3>
          <span class="benefits-descr delivery-item_descr">Доставка осуществляется в точной
            последовательности для сложной установки, что сокращает или устраняет необходимость в хранении.</span>
        </div>
      </div>
    </div>

    <div class="care-link delivery-link">
      <span>...</span><a href="#">и все остальные материалы, </a><span>которые поступают или покидают вашу площадку</span>
    </div>
  </div>
</section>
