<header class="header">
  <div class="header-top">
    <div class="header-logo">
      <div class="logo-img">
        <img src="img/svg/logo.svg" alt="logo">
      </div>
      <div class="logo-text">
        <span>Стройконтроль</span>
      </div>
    </div>

    <ul class="header-menu">
      <li class="menu-item">Главная</li>
      <li class="menu-item">О нас</li>
      <li class="menu-item">Продукция</li>
      <li class="menu-item">Процесс</li>
      <li class="menu-item">Надежность</li>
      <li class="menu-item">Клиенты</li>
      <li class="menu-item">Связаться с нами</li>
    </ul>

    <div class="header-btn">
      <button class="btn">Заказать демо</button>
    </div>
  </div>

  <div class="container">
    <div class="header-bottom">
      <h1 class="header-title">Умная доставка материалов для сложных строительных площадок</h1>
      <div class="header-group_btn">
        <div class="btn btn-demo">Заказать демо</div>
        <div class="btn btn-more">Подробнее</div>
      </div>
      <div class="header-banner">
        <img src="img/svg/header-banner.svg" alt="banner">
      </div>
      <div class="header-truck">
        <img src="img/svg/header-truck.svg" alt="truck">
      </div>
    </div>
  </div>
</header>
