<section class="reliability">
  <div class="container">
    <h2 class="title reliability-title">Надёжность</h2>
    <span class="construction-descr reliability-descr">Благодаря надёжному строительству
       выигрывают все - муниципальные органы выполняют свои обязанности перед
       гражданами, инвесторы получают сертификаты своих проектов, а генеральные
       подрядчики получают повышенную репутацию.
    </span>
    <div class="reliability-container">
      <div class="reliability-item">
        <div class="reliability-item_icon">
          <img src="img/svg/reliability-1.svg" alt="icon">
        </div>

        <h3 class="benefits-title reliability-item_title">Сниженное загрязнение</h3>
        <span class="benefits-descr reliability-item_descr">При оптимизации логистики требуется меньше поездок,
          что приводит к снижению выбросов CO2. Выбрасываемый CO2 контролируется, что позволяет ставить цели и вносить
          ощутимые улучшения.
        </span>
      </div>

      <div class="reliability-item">
        <div class="reliability-item_icon">
          <img src="img/svg/reliability-2.svg" alt="icon">
        </div>

        <h3 class="benefits-title reliability-item_title">Улучшенное управление отходами</h3>
        <span class="benefits-descr reliability-item_descr">Упрощается сортировка отходов, автоматизируется утилизация отходов, а
          поврежденные материалы при необходимости используются повторно, что снижает затраты и стимулирует переработку и повторное использование.
        </span>
      </div>

      <div class="reliability-item">
        <div class="reliability-item_icon">
          <img src="img/svg/reliability-3.svg" alt="icon">
        </div>

        <h3 class="benefits-title reliability-item_title">Улучшенное влияние на общество</h3>
        <span class="benefits-descr reliability-item_descr">Уменьшаются проблемы с дорожным движением и шумовое загрязнение, что улучшает
          жизнь местного сообщества. Улучшенное обращение с материалами и хранение означает, что рабочие также лучше защищены.
        </span>
      </div>
    </div>

    <div class="reliability-bottom">
      <div class="reliability-icon">
        <img src="img/svg/hands-icon.svg" alt="care">
      </div>
      <span class="reliability-text"><strong>Надёжная конструкция</strong> СтройКонтроль входит в стандартную комплектацию.</span>
      <div class="btn btn-more">Подробнее</div>
    </div>
  </div>
</section>
