<section class="work">
  <div class="container">
    <div class="work-container">
      <div class="work-left">
        <h2 class="title work-title">Как с нами работать</h2>
        <span class="construction-descr work-descr">Начать работу со СтройКонтроль
          легко, достаточно заказать демо-версию.
        </span>
        <div class="work-img">
          <img src="img/work.png" alt="work">
        </div>
      </div>

      <div class="work-right">
        <div class="work-item">
          <div class="work-item_left">1</div>
          <div class="work-item_right">
            <h3 class="benefits-title work-item_title">Заказать демо</h3>
            <span class="benefits-descr work-item_descr">Вы увидите презентацию, в которой
              подробно объясняется, как работает СтройКонтроль для решения задач строительной
              логистики в таких сложных проектах, как ваш.</span>
          </div>
        </div>

        <div class="work-item">
          <div class="work-item_left">2</div>
          <div class="work-item_right">
            <h3 class="benefits-title work-item_title">Заказать демо</h3>
            <span class="benefits-descr work-item_descr">Вы увидите презентацию, в которой
              подробно объясняется, как работает СтройКонтроль для решения задач строительной
              логистики в таких сложных проектах, как ваш.</span>
          </div>
        </div>

        <div class="work-item">
          <div class="work-item_left">3</div>
          <div class="work-item_right">
            <h3 class="benefits-title work-item_title">Заказать демо</h3>
            <span class="benefits-descr work-item_descr">Вы увидите презентацию, в которой
              подробно объясняется, как работает СтройКонтроль для решения задач строительной
              логистики в таких сложных проектах, как ваш.</span>
          </div>
        </div>

        <div class="work-item">
          <div class="work-item_left">4</div>
          <div class="work-item_right">
            <h3 class="benefits-title work-item_title">Заказать демо</h3>
            <span class="benefits-descr work-item_descr">Вы увидите презентацию, в которой
              подробно объясняется, как работает СтройКонтроль для решения задач строительной
              логистики в таких сложных проектах, как ваш.</span>
          </div>
        </div>

        <div class="header-group_btn">
          <div class="btn btn-demo">Заказать демо</div>
          <div class="btn btn-more">Подробнее</div>
        </div>
      </div>
    </div>
  </div>
</section>
