// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/btn";
@import "./components/title";
@import "./components/describe";
@import "./components/about";
@import "./components/delivery";
@import "./components/reliability";
@import "./components/black_section";
@import "./components/work";
@import "./components/choice";

// тестовые стили, удалите их
.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}
